* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #3A4257;
  height: 100vh;
  font-size: 12pt;
  font-family: "Abril Fatface", cursive;
}

main {
  padding-top: 40px;
}

.wrapper {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
  background-color: #e8dbc7;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h1 {
  padding: 0px;
  margin: 0px 0px 10px;
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

.search-field {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

input {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  border-radius: 4px;
}

button {
  padding: 10px 25px;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  background-color: #3A4257;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: none;
  color: white;
  font-size: 1.1rem;
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
}
button:hover {
  background-color: #505b75;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8dbc7;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 10px 0px;
}

img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 60%;
    padding: 30px;
  }

  input {
    margin-top: 40px;
    width: 60%;
    font-size: 1.2rem;
    margin: 0;
  }

  .movie-container {
    width: 33%;
    padding: 20px;
  }

  #result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 10px auto;
  }

  .search-field {
    flex-direction: row;
    margin: 30px 0px;
  }

  button {
    margin: 0 10px;
  }

  h1 {
    font-size: 3rem;
  }
}