* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background: #141414;
}

body {
  padding: 0;
  margin: 0;
  font-size: 12pt;
  color: white;
}

main {
  padding-top: 40px;
}

.wrapper {
  border-radius: 12px;
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
  background: #1c1b1b;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h1 {
  font-family: "Abril Fatface", cursive;
  color: white;
  padding: 0px;
  margin: 0px 0px 10px;
  font-size: 2rem;
}
h1 .fa-film {
  margin-left: 10px;
}

h3 {
  font-size: 1.5rem;
  padding: 20px 0px 0px;
  margin: 0;
}

.search-field {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

input {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  border-radius: 4px;
}
input:focus {
  outline: none;
  border: 2px solid #9d9d9d;
}

button {
  font-family: "Montserrat", sans-serif;
  padding: 10px 25px;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  background-color: #b6b6b6;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: none;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: 1.5px;
  transition: background-color 0.2s ease-out;
}
button:hover {
  background-color: #373737;
  color: white;
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 12px;
  background: #1c1b1b;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-family: "Montserrat", sans-serif;
}

.movie-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: 10px 0px;
}
.movie-container button {
  margin: 20px 0px 0px;
  width: 30%;
}

img {
  width: 100%;
  height: auto;
}
img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.plot {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 80%;
    padding: 30px;
  }

  input {
    margin-top: 40px;
    width: 60%;
    font-size: 1.2rem;
    margin: 0;
    background-color: #111;
    border: 1px solid #cdcdcd;
  }
  input:focus {
    outline: none;
    border-color: #c6d5e1;
    box-shadow: 0 0 8px #c6d5e1;
  }

  .movie-container {
    width: 33%;
    padding: 20px;
  }

  #result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px auto;
    align-items: flex-start;
  }

  .search-field {
    flex-direction: row;
    margin: 30px 0px;
    font-family: "Montserrat", sans-serif;
  }
  .search-field button {
    margin: 0 10px;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }
}